<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Give me your words!</h1>
<table>
  <tr>
    <%= @start_time %>
    <% @grid.each do |letter| %>
      <td><%= letter %></td>
    <% end %>
  </tr>
</table>

<hr>

<form action="/score">
  <label for="question">Type your word here</label>
  <input type="date" name="start_time" value="<%= @start_time %>" hidden>
  <input type="date" name="grid" value="<%= @grid_joined %>" hidden>

  <input type="text" id="question" name="attempt" placeholder="your answer here">
  <input type="submit" value="check it out">
</form>
</body>
</html>